.main {
    margin-top: 0px;
    min-height: 30vh;
    width: 100%;
    flex: 1;
    padding-left: -10%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0rem 0;
}


/*estilos primer tercio de la hoja*/

.fondoBlanco {
    /* Auto layout */
    border: solid 2px transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: -2%;
    margin-left: -1%;
    width: 100.5%;
    height: fit-content;
    padding: 1%;
    margin-bottom: 10%;
    background: #FFFFFF;
}

.letrasIniciales {
    z-index: 4;
    width: 50%;
    height: 168px;
    font-family: 'Graphik';
    font-weight: bolder;
    font-size: 70px;
    line-height: 74px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.2px;
}

.letrasMedio {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: -4%;
    letter-spacing: 0.2px;
    /* Light text */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.letrasMedio p {
    margin-bottom: -3%;
}

.fondoImagen {
    position: relative;
    width: 100%;
    height: 760px;
    left: 0%;
    right: 0%;
    background: url('/computador2.png'), #080b0c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}

.flex1 {
    z-index: 2;
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 1%;
    /* border: 2px solid; */
}

.flex2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    margin-top: 1%;
    /* border: 2px solid; */
}

.trianguloIzq {
    z-index: 3;
    position: relative;
    background-color: transparent;
    border-top: 150px solid transparent;
    border-left: 700px solid white;
    padding: 1%;
    margin-left: -2%;
    width: 50%;
}

.trianguloDer {
    z-index: 3;
    position: relative;
    background-color: transparent;
    border-top: 150px solid transparent;
    border-right: 700px solid white;
    padding: 1%;
    margin-left: -4%;
    width: 50%;
}

.navb {
    font-family: 'Graphik', sans-serif;
    position: sticky;
    margin: auto;
    margin-top: 2%;
    z-index: 3;
    background-color: transparent;
    border-radius: 2%;
    /* border: solid rgb(166, 166, 166); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.navButtons {
    border: transparent solid;
    margin-left: 4px;
    font-family: 'Graphik', sans-serif;
    background-color: transparent;
    border-radius: 2%;
    text-align: center;
    width: fit-content;
    padding: 1%;
    font-weight: lighter;
    color: white;
    font-size: normal;
}

.navButtons:hover {
    background-color: #e8b9ff;
}

.navb>img {
    margin-left: 2%;
    /*border: white solid 2px; */
}

.figma {
    margin-right: 15%;
}

.navMobile {
    width: 93%;
    top: 3%;
    z-index: 4;
    position: absolute;
    height: fit-content;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.navMobile>ul {
    margin-right: 10%;
    width: fit-content;
    height: fit-content;
    /* border: 2px solid;*/
    position: relative;
    list-style: none;
    display: none;
    /*Pendiente cambiar esto en responsive*/
}

.botonFancy {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    width: 236px;
    height: 52px;
    margin: auto;
    margin-top: 4%;
    background: #2091F9;
    border-radius: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: transparent;
}

.botonFancy:hover {
    background: #7ec1ff;
}


/*estilos 2/3 pagina */

.features {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 2%;
    padding: 1%
}

.formulario {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 2%;
    padding: 1%
}

.tituloF {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-left: 45%;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 55px;
    /* identical to box height, or 115% */
    text-align: center;
    letter-spacing: 0.2px;
    /* text */
    color: #252B42;
}

.subtituloF {
    margin: auto;
    font-family: 'Graphik';
    margin-top: 1%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 40%;
    height: fit-content;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
}

.subtituloF p {
    margin-bottom: -3%;
}

.cajitaBonita {
    /* border: 2px solid; */
    padding: 1%;
    border-radius: 2%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: auto;
    margin-top: 4%;
}

.cajitaBonita p {
    font-size: 15px;
    font-family: 'Graphik';
    text-align: center;
    margin-top: -1%
}

.cajitaBonita h3 {
    /* border: 2px solid; */
    font-size: 21px;
    text-align: center;
    font-weight: 800;
}

.cajitaBonita:nth-child(1) {
    margin-right: -20%;
}

.cajitaBonita:nth-child(2) {
    margin-right: -20%;
}

.imgGrande {
    width: 1000px;
    height: 600px;
    margin: auto;
    /*border: 2px solid; */
    background-image: url("/screen.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.playB {
    /*border: 2px solid; */
    z-index: 3;
    position: relative;
    margin-left: 45%;
    margin-top: 20%;
    margin-bottom: auto;
}

.playTB {
    /*border: 2px solid;*/
    z-index: 3;
    position: relative;
    margin-left: -8.5%;
    margin-bottom: 5.5%;
}

.playB:hover {
    background-color: #e8b9ff;
    border-radius: 35%;
}


/*estilos 3/3 pagina*/

.flex3 {
    display: flex;
    width: 80%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    /*border: solid 2px; */
    margin: auto;
    margin-top: 2%;
    padding: 1%;
}

.flex4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid 2px; */
    width: 50%;
    height: fit-content;
    padding: 1%;
    margin-left: 5%;
}

.flex5 {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding-right: 7%;
    padding-left: 4%;
    width: fit-content;
    margin-bottom: 4%;
    margin-top: 2%;
    margin-left: 4%;
}

.flex5 h3 {
    margin-left: 35%;
    margin-right: auto;
}

.botonFancy2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
    padding-left: 8%;
    padding-right: 8%;
    width: 60%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    margin-left: 0%;
    background: #2091F9;
    border-radius: 35px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: transparent;
}

.botonFancy2:hover {
    background: #7ec1ff;
}

.inputNormal {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 12%;
    margin-right: 10%;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 16px;
    width: 100%;
}

.inputGrande {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 12%;
    margin-right: 10%;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px;
    padding-top: -2%;
    height: 100px;
    width: 100%;
    resize: none;
}

.inputNormal::placeholder {
    font-family: 'Graphik';
    color: black;
}

.inputGrande::placeholder {
    font-family: 'Graphik';
    margin-top: -2%;
    position: relative;
    text-align: left;
    color: black;
    margin-bottom: 30%;
}

.flex6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 2%;
    /*border: 2px solid; */
    margin-top: 5%;
    margin-bottom: 3%;
}

.cajitaBonita2 {
    /*border: 2px solid; */
    padding: 1%;
    border-radius: 2%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-top: 4%;
}

.cajitaBonita2 h5 {
    /* border: 2px solid; */
    font-size: 12px;
    text-align: center;
}

.cajitaBonita2:nth-child(1) {
    margin-right: 1%;
    width: 160%;
}

.cajitaBonita2:nth-child(2) {
    margin-right: 1%;
}

.mapa {
    margin-left: -3%;
}

.flex6 img {
    margin-top: 2%;
    margin-left: 2%;
}


/*estilos finales*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    width: 100%;
    height: 15%;
    background: #252B42;
    margin-left: auto;
    left: -2%;
    position: relative;
    margin-bottom: -1%;
}

.flex7 {
    display: flex;
    padding: 1%;
    width: 80%;
    /*border: 2px solid white; */
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin-right: 13%;
}

.cajitaBonita3 {
    padding: 1%;
    border-radius: 2%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 60%;
    margin: auto;
    margin-top: 4%;
}

.cajitaBonita3:nth-child(1) {
    margin-right: -8%;
    margin-left: 2%;
}

.cajitaBonita3:nth-child(2) {
    margin-left: -2%;
}

.cajitaBonita3:nth-child(3) {
    margin-left: -6%;
}

.cajitaBonita3:nth-child(4) {
    margin-top: 5%;
    font-size: 12px;
}

.cajitaBonita3:nth-child(4) span {
    text-align: right;
    color: white;
    margin-right: 10%;
    margin-left: auto;
    margin-bottom: 2%;
    width: 110%;
}

.cajitaBonita3:nth-child(4) span:nth-child(3) {
    margin-left: -57%;
}

.cajitaBonita3:nth-child(4) img {
    margin-left: 20%;
}

.cajitaBonita3 ul {
    text-align: left;
    /*border: 2px solid white; */
    height: fit-content;
    width: 50%;
    list-style-type: none;
    color: white;
    margin: auto;
    margin-right: 10%;
}

.cajitaBonita3 li {
    line-height: 28px;
    font-weight: lighter;
    font-size: 13px;
    margin-bottom: 12%;
    text-align: left;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.iconMenu {
    margin-top: -6%;
    width: 40px;
    height: 21px;
    margin-left: 80%;
    background-image: url('/tres_lineas.png');
    background-size: contain;
    border: transparent;
    background-color: transparent;
}

.iconMenu:hover {
    background-color: rgb(138, 213, 253);
}

.fotoResponsive {
    display: none;
}


/*estilos responsive*/

@media only screen and (max-width: 640px) {
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    /*v responsive*/
    .navb {
        display: none;
    }
    /*responsive*/
    .fondoImagen {
        position: relative;
        width: 100%;
        height: 700px;
        left: 0%;
        right: 0%;
        border: transparent 2px solid;
        background: url('/computador3.png'), #080b0c;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: top;
    }
    /*responsive*/
    .letrasIniciales {
        width: 100%;
        height: fit-content;
        font-size: 48px;
        line-height: 65px;
        margin-top: 120px;
        margin-bottom: 10%;
        text-align: center;
        letter-spacing: 0.1px;
        font-weight: 100;
    }
    .letrasMedio {
        /*responsive*/
        font-size: 28px;
        line-height: 40px;
        width: 90%;
        font-weight: 100;
        margin: auto;
        margin-top: 5%;
        letter-spacing: 0.0px;
        /* Light text */
    }
    .letrasMedio p:nth-child(2) {
        display: none;
    }
    .botonFancy {
        font-size: 20px;
        margin-top: 10%;
        font-size: 16px;
    }
    /*responsive*/
    .tituloF {
        margin-top: 8%;
        margin-left: auto;
        font-size: 48px;
        line-height: 55px;
        /* identical to box height, or 115% */
        text-align: center;
    }
    .subtituloF {
        margin: auto;
        margin-top: 1%;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        width: 70%;
        line-height: 40px;
        margin-bottom: 5%;
    }
    .subtituloF p:nth-child(2) {
        display: none;
    }
    /*responsive*/
    .flex2 {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-top: 1%;
        /* border: 2px solid; */
    }
    .cajitaBonita {
        padding: 1%;
        border-radius: 2%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-top: 12%;
        margin-left: 20%;
    }
    .cajitaBonita p {
        font-size: 15px;
        font-family: 'Graphik';
        text-align: center;
        margin-top: -1%;
        width: 70%;
    }
    .cajitaBonita:nth-child(1) {
        margin-left: 5%;
    }
    .cajitaBonita:nth-child(2) {
        margin-left: 5%;
    }
    .cajitaBonita:nth-child(3) {
        margin-left: 20%;
        margin-bottom: 20%;
    }
    .imgGrande {
        display: none;
    }
    /*responsive*/
    .flex6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
        padding: 2%;
        /*border: 2px solid; */
        margin-top: 10%;
        margin-bottom: 3%;
    }
    .flex6:nth-child(3) {
        /*responsive*/
        background-color: transparent;
        align-items: center;
        flex-direction: row;
        position: absolute;
        margin-bottom: 90%;
        margin-top: -13%;
        margin-right: 10%;
        padding-bottom: 60%;
    }
    .flex6:nth-child(3) img {
        margin: auto;
    }
    .mapa {
        display: none;
    }
    .flex3 {
        display: flex;
        width: 80%;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        /* border: solid 2px; */
        margin: auto;
        margin-top: 10%;
        padding: 1%;
    }
    .flex5 {
        display: flex;
        padding-right: 20%;
        padding-left: 8%;
        padding-bottom: 10%;
        margin-top: 100%;
        margin-bottom: 40%;
        width: fit-content;
    }
    .flex5 h3 {
        margin-left: 35%;
        margin-right: auto;
    }
    .botonFancy2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6%;
        padding-left: 8%;
        padding-right: 8%;
        width: 60%;
        height: 40%;
        margin: auto;
        margin-top: 5%;
        margin-left: 0%;
        background: #2091F9;
        border-radius: 35px;
        font-family: 'Graphik';
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        border: transparent;
    }
    .botonFancy2:hover {
        background: #7ec1ff;
    }
    .inputNormal {
        margin: auto;
        margin-top: 2%;
        margin-bottom: 12%;
        margin-right: 10%;
        background: #F5F5F5;
        border: 1px solid #E8E8E8;
        border-radius: 39px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 14px 18px;
        width: 100%;
    }
    .inputGrande {
        margin: auto;
        margin-top: 2%;
        margin-bottom: 12%;
        margin-right: 10%;
        background: #F5F5F5;
        border: 1px solid #E8E8E8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 16px;
        padding-top: 0%;
        padding-right: 10%;
        height: 100px;
        width: 100%;
        resize: none;
    }
    .inputNormal::placeholder {
        font-family: 'Graphik';
        color: black;
    }
    .inputGrande::placeholder {
        font-family: 'Graphik';
        margin-top: -2%;
        position: relative;
        text-align: left;
        color: black;
        margin-bottom: 30%;
    }
    .cajitaBonita2 {
        /**/
        /*border: 2px solid; */
        padding: 1%;
        border-radius: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        width: 80%;
        margin-left: 50%;
        margin-top: 4%;
        margin-bottom: -10%;
    }
    .cajitaBonita2 h5 {
        /* border: 2px solid; */
        font-size: 14px;
        font-weight: 100;
        margin-left: 3%;
        text-align: left;
    }
    .cajitaBonita2:nth-child(1) h5 {
        /*border: 2px solid; */
        margin-left: 3%;
        width: 100%;
    }
    .cajitaBonita2:nth-child(2) h5 {
        padding-left: 10%;
        width: 120%;
    }
    .cajitaBonita2:nth-child(1) {
        margin-right: 45%;
    }
    .cajitaBonita2:nth-child(2) {
        margin-right: 120%;
    }
    .cajitaBonita2:nth-child(3) {
        margin-right: 120%;
    }
    .footer {
        display: none;
    }
    .footerM {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 70px;
        width: 100%;
        height: fit-content;
        background: #252B42;
        margin-left: auto;
        margin-top: -10%;
        margin-right: auto;
        margin-bottom: -1%;
    }
    .flex7 {
        display: flex;
        padding: 1%;
        width: 70%;
        /* border: 2px solid white; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        margin-right: auto;
    }
    /*responsive*/
    .cajitaBonita3 {
        padding: 1%;
        border-radius: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 60%;
        text-align: center;
        margin: auto;
        margin-left: auto;
    }
    .cajitaBonita3:nth-child(1) {
        margin-right: 20%;
    }
    .cajitaBonita3:nth-child(2) {
        margin-right: 15%;
    }
    .cajitaBonita3:nth-child(3) {
        margin-right: 10%;
    }
    .cajitaBonita3:nth-child(4) {
        margin-right: 57.8%;
    }
    .cajitaBonita3:nth-child(4) span {
        text-align: right;
        color: white;
        margin-right: 10%;
        /* background-color: red; */
        margin-left: 10%;
        text-align: right;
        margin-bottom: 2%;
        width: 150%;
    }
    .cajitaBonita3:nth-child(4) span:nth-child(1) {
        margin-left: 15%;
    }
    .cajitaBonita3:nth-child(4) span:nth-child(3) {
        margin-left: 5%;
        text-align: center;
        /* background-color: gray; */
    }
    .cajitaBonita3:nth-child(4) img {
        margin-left: 22%;
        margin-right: 2%;
    }
    .cajitaBonita3:nth-child(4) span {
        text-align: right;
    }
    .cajitaBonita3 ul {
        /* border: 2px solid white; */
        padding-right: 10%;
        height: fit-content;
        width: 50%;
        text-align: center;
        list-style-type: none;
        color: white;
        margin: auto;
        margin-right: 10%;
    }
    .cajitaBonita3 li {
        line-height: 28px;
        font-weight: lighter;
        /* border: 2px white solid; */
        width: 120%;
        font-size: 13px;
        margin-bottom: 12%;
        text-align: center;
    }
    .redes {
        margin-left: auto;
        /* border: 2px white solid; */
        padding-left: 30%;
    }
    .cajitaBonita3 h3 {
        margin-left: 15%;
    }
    .flex4 {
        margin-bottom: 60%;
        position: absolute;
        /*background-color: green;*/
    }
    /*Version responsive*/
    .navMobile {
        /*border: 2px solid white;*/
        display: flex;
        border-radius: 5%;
        padding-bottom: 20%;
    }
    .listaMobile {
        background-color: #c2f1f7;
        border-radius: 4%;
        margin-left: 50%;
        width: 100%;
        padding-left: 13%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        display: none;
        z-index: inherit;
    }
    .figma {
        margin-left: -18%;
    }
    .fotoResponsive {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        /*border: 2px solid; */
        margin-top: 8%;
        background-image: url("/pc_responsive.png");
        width: 360px;
        height: 225px;
    }
    .playB2 {
        /*border: 2px solid;*/
        z-index: 2;
        position: relative;
        width: 60px;
        height: 60px;
        margin-left: 40%;
        margin-top: 23%;
        margin-bottom: auto;
    }
    .playTB2 {
        /*border: 2px solid;*/
        z-index: 3;
        width: 20px;
        height: 20px;
        position: relative;
        margin-left: -10%;
        margin-bottom: 5.5%;
    }
    .playB2:hover {
        background-color: #e8b9ff;
        border-radius: 35%;
    }
}