.container {
    padding: 0 1.1rem;
}

.main {
    margin-top: 0px;
    min-height: 30vh;
    width: 100%;
    flex: 1;
    padding-left: -10%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*estilos primer tercio de la hoja*/

.fondoBlanco {
    /* Auto layout */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: -2%;
    margin-left: -1%;
    width: 100.5%;
    height: fit-content;
    padding: 1%;
    margin-bottom: 10%;
    background: #FFFFFF;
}

.letrasIniciales {
    z-index: 4;
    width: 50%;
    height: 168px;
    font-family: 'Graphik';
    font-weight: bolder;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 75px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.2px;
}

.letrasMedio {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: -5%;
    letter-spacing: 0.2px;
    /* Light text */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fondoImagen {
    position: relative;
    width: 100%;
    height: 120%;
    left: 0%;
    right: 0%;
    background: url('/foto_computador.jpg'), #080b0c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex1 {
    z-index: 2;
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 1%;
    /* border: 2px solid; */
}

.flex2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    margin-top: 1%;
    /* border: 2px solid; */
}

.trianguloIzq {
    z-index: 3;
    position: relative;
    background-color: transparent;
    border-top: 150px solid transparent;
    border-left: 700px solid white;
    padding: 1%;
    margin-left: -2%;
    width: 50%;
}

.trianguloDer {
    z-index: 3;
    position: relative;
    background-color: transparent;
    border-top: 150px solid transparent;
    border-right: 700px solid white;
    padding: 1%;
    margin-left: -4%;
    width: 50%;
}

.navb {
    font-family: 'Graphik', sans-serif;
    position: sticky;
    margin: auto;
    margin-top: 2%;
    z-index: 3;
    background-color: transparent;
    border-radius: 2%;
    /* border: solid rgb(166, 166, 166); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.navButtons {
    border: transparent solid;
    margin-left: 4px;
    font-family: 'Graphik', sans-serif;
    background-color: transparent;
    border-radius: 2%;
    text-align: center;
    width: fit-content;
    padding: 1%;
    font-weight: lighter;
    color: white;
    font-size: normal;
}

.navButtons:hover {
    background-color: #e8b9ff;
}

.navb>img {
    margin-left: 2%;
    /*border: white solid 2px; */
}

.figma {
    margin-right: 15%;
}

.navMobile {
    /*border: 2px solid;*/
    width: 40%;
    top: 3%;
    z-index: 3;
    position: fixed;
    height: fit-content;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.navMobile>ul {
    margin-right: 10%;
    width: fit-content;
    height: fit-content;
    /* border: 2px solid;*/
    position: relative;
    list-style: none;
    display: none;
    /*Pendiente cambiar esto en responsive*/
}

.iconMenu {
    width: 50px;
    height: 50px;
    margin-left: 70%;
    background-image: url('/treslineas.png');
    background-size: contain;
    border: transparent;
    background-color: transparent;
}

.iconMenu:hover {
    background-color: #E7F1EB;
}

.botonFancy {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    width: 236px;
    height: 52px;
    margin: auto;
    margin-top: 3.5%;
    background: #2091F9;
    border-radius: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: transparent;
}

.botonFancy:hover {
    background: #7ec1ff;
}


/*estilos 2/3 pagina */

.features {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 2%;
    padding: 1%
}

.tituloF {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-left: 45%;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 55px;
    /* identical to box height, or 115% */
    text-align: center;
    letter-spacing: 0.2px;
    /* text */
    color: #252B42;
}

.subtituloF {
    margin: auto;
    font-family: 'Graphik';
    margin-top: 1%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 40%;
    height: fit-content;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
}

.cajitaBonita {
    /* border: 2px solid; */
    padding: 1%;
    border-radius: 2%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: auto;
    margin-top: 4%;
}

.cajitaBonita p {
    font-size: 15px;
    font-family: 'Graphik';
    text-align: center;
    margin-top: -1%
}

.cajitaBonita h3 {
    /* border: 2px solid; */
    font-size: 21px;
    text-align: center;
    font-weight: 800;
}

.cajitaBonita:nth-child(1) {
    margin-right: -20%;
}

.cajitaBonita:nth-child(2) {
    margin-right: -20%;
}

.imgGrande {
    margin-left: 14%;
}

.playB {
    /* border: 2px solid; */
    position: relative;
    margin-left: 52%;
    margin-top: -40%;
    margin-bottom: 20%;
}

.playTB {
    /*border: 2px solid;*/
    z-index: 2;
    position: relative;
    margin-left: 57%;
    margin-top: -40%;
    margin-bottom: 26%;
}

.playB:hover {
    background-color: #e8b9ff;
    border-radius: 35%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
    width: 100%;
    height: 20px;
    background: #252B42;
    margin-left: -3%;
    left: -2%;
    position: absolute;
    margin-bottom: -1%;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}